<template>
  <MrAssistant />
</template>

<script>
import MrAssistant from "@/components/MrAssistant";

export default {
  name: "App",
  components: { MrAssistant },
  mounted() {
    chrome.runtime.onMessage.addListener(message => {
      if (message.type === "notify") {
        this.$toast.show(message.text, {
          position: "top-center",
          fullWidth: true,
          type: message.toastType || "info"
        });
      }
    });
  }
};
</script>

<style lang="scss">
html,
body {
  overflow: hidden;
}
</style>
