<template>
  <div class="mr-assistant p-2">
    <MrRecord
      v-if="toEdit"
      :record="toEdit"
      @close="closeDetails"
      @save="updateValue"
      @delete="deleteItem"
    />
    <GlTabs v-if="!toEdit">
      <GlTab :title="`Active (${active.length})`">
        <MrList :list="active" @edit="edit" />
        <footer class="pb-1">
          <GlButton @click="add" variant="info">Add New</GlButton>
        </footer>
      </GlTab>
      <GlTab :title="`Merged (${merged.length})`">
        <MrList :list="merged" @edit="edit" />
      </GlTab>
    </GlTabs>
  </div>
</template>

<script>
import { GlButton, GlTabs, GlTab } from "@gitlab/ui";
import { get } from "lodash-es";

import MrRecord from "@/components/MrRecord";
import MrList from "@/components/MrList";
import { uuid } from "@/utilities/misc";

export default {
  components: {
    MrRecord,
    MrList,
    GlButton,
    GlTabs,
    GlTab
  },
  data() {
    return {
      mrs: [],
      toEdit: null,
      url: ""
    };
  },
  computed: {
    mergeRequestId() {
      if (this.url) {
        const id = this.extractId(this.url, "merge_requests/");
        return id ? `!${id}` : null;
      }
      return null;
    },
    issueId() {
      if (this.url) {
        const id = this.extractId(this.url, "issues/");
        return id ? `#${id}` : null;
      }
      return null;
    },
    active() {
      return this.mrs.filter(mr => !mr.merged);
    },
    merged() {
      return this.mrs.filter(mr => mr.merged);
    }
  },
  mounted() {
    chrome.tabs.query(
      { active: true, lastFocusedWindow: true },
      this.parseTabs
    );
    chrome.storage.sync.get(["mrs"], result => {
      const mrs = get(result, "mrs", []);
      this.mrs = mrs.map(m => ({
        ...m,
        merged: m.merged === true ? true : false
      }));
    });
  },
  methods: {
    extractId(url, keyword) {
      const index = url.indexOf(keyword);
      let result = null;
      if (index > -1) {
        result = this.url.substring(index + keyword.length);
        let innerIndex = result.indexOf("?");
        if (innerIndex === -1) {
          innerIndex = result.indexOf("#");
        }
        if (innerIndex !== -1) {
          result = result.substring(0, innerIndex);
        }
        return result;
      }
      return null;
    },
    persistData() {
      chrome.storage.sync.set({ mrs: this.mrs }, () => {});
    },
    parseTabs(tabs) {
      const tab = get(tabs, "[0]", null);
      if (tab) {
        this.url = get(tab, "url", null);
        const tilePieces = tab.title.split("·");
        this.title = tilePieces[0];
      }
    },
    closeDetails() {
      this.toEdit = null;
    },
    edit(item) {
      this.toEdit = item;
    },
    deleteItem(id) {
      this.mrs = this.mrs.filter(mr => mr.id !== id);
      this.persistData();
      this.closeDetails();
    },
    updateValue(newItem) {
      const index = this.mrs.findIndex(m => m.id === newItem.id);
      if (index > -1) {
        this.mrs.splice(index, 1, newItem);
      } else {
        this.mrs.push(newItem);
      }
      this.persistData();
      this.closeDetails();
    },
    add() {
      const id = uuid();
      this.toEdit = {
        id,
        name: this.mergeRequestId || this.issueId,
        url: this.url,
        title: this.title
      };
    }
  }
};
</script>

<style lang="scss">
.mr-assistant {
  min-width: 350px;
  height: calc(100% - 50px);
  position: relative;
  margin-bottom: 50px;

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    span {
      width: 10rem;
      text-align: center;
      font-size: 0.8rem;
      line-height: 1rem;

      &.big {
        width: 15rem;
      }
    }
    .actions {
      width: 10rem;
    }
  }

  .list-group-item:first-child {
    border-top: 0;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 1rem);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
