<template>
  <GlPaginatedList :list="list" :per-page="4" :filterable="false">
    <template #default="{listItem}">
      <div class="list-item">
        <span class="big">ID</span>
        <span>Complete</span>
        <span>Confidence</span>
        <span>In Review</span>
        <span>Maintainer</span>
        <span class="actions">Actions</span>
      </div>
      <div class="list-item">
        <span class="big">{{ listItem.title || listItem.name }} </span>
        <span>{{ listItem.completed }}%</span>
        <span>{{ listItem.confidence }}%</span>
        <span> {{ listItem.inReview ? "yes" : "no" }} </span>
        <span> {{ listItem.inMaintainer ? "yes" : "no" }} </span>
        <GlButtonGroup class="actions">
          <GlButton
            variant="success"
            @click="$emit('edit', listItem)"
            size="sm"
          >
            <fa icon="edit"></fa>
          </GlButton>
          <GlButton variant="danger" size="sm" @click="copyToSlack(listItem)">
            <fa :icon="['fab', 'slack']"></fa>
          </GlButton>
          <GlButton
            variant="warning"
            size="sm"
            :href="listItem.url"
            target="_blank"
          >
            <fa :icon="['fab', 'gitlab']"></fa>
          </GlButton>
        </GlButtonGroup>
      </div>
    </template>
  </GlPaginatedList>
</template>

<script>
import { GlPaginatedList, GlButton, GlButtonGroup } from "@gitlab/ui";
export default {
  components: {
    GlPaginatedList,
    GlButton,
    GlButtonGroup
  },
  props: {
    list: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    createString(listItem) {
      let text = `${listItem.name}`;
      if (listItem.merged) {
        return "`" + text + "`" + ` \`${listItem.url}\`` + "  :mergedparrot:  ";
      } else if (listItem.inMaintainer) {
        text = text + "- maintainer review";
      } else if (listItem.inReview) {
        text = text + `- in review`;
      } else {
        text = `${text} - ${listItem.completed}% completed, ${listItem.confidence}% confident`;
      }
      return (
        "`" +
        text +
        "`" +
        ` \`${listItem.url}\`` +
        ` ${listItem.description || ""}`
      );
    },
    copyToSlack(listItem) {
      const text = this.createString(listItem);
      chrome.runtime.sendMessage({
        type: "copy",
        text
      });
    }
  }
};
</script>

<style></style>
