<template>
  <div class="mr-record py-2">
    <div class="inputs">
      <div></div>
      <GlFormGroup class="w-25">
        <GlFormGroup label="ID">
          <GlFormInput v-model="name" required></GlFormInput>
        </GlFormGroup>

        <GlFormGroup label="Completed %">
          <GlFormInput
            v-model="completed"
            :disabled="inMaintainer || inReview"
            number
            type="number"
            :min="0"
            :max="100"
            :step="5"
          />
        </GlFormGroup>
        <GlFormGroup label="Confidence %">
          <GlFormInput
            v-model="confidence"
            :disabled="inMaintainer || inReview"
            number
            type="number"
            :min="0"
            :max="100"
            :step="5"
          />
        </GlFormGroup>
        <GlFormGroup label="In Review">
          <GlToggle v-model="inReview" />
        </GlFormGroup>
        <GlFormGroup label="Maintainer review">
          <GlToggle v-model="inMaintainer" />
        </GlFormGroup>
      </GlFormGroup>
      <GlFormGroup class="w-75 px-2">
        <GlFormGroup label="Title">
          <GlFormInput v-model="title"></GlFormInput>
        </GlFormGroup>
        <GlFormGroup label="Description">
          <GlFormTextarea v-model="description" rows="5"></GlFormTextarea>
        </GlFormGroup>
      </GlFormGroup>
    </div>
    <GlButtonGroup class="buttons">
      <GlButton variant="warning" @click="cancel">Cancel</GlButton>
      <GlButton variant="danger" @click="deleteItem">Delete </GlButton>
      <GlButton variant="info" @click="save()">Save </GlButton>
      <GlButton variant="success" @click="save(true)">Merged</GlButton>
      <GlButton :href="record.url" target="_blank">Link</GlButton>
    </GlButtonGroup>
  </div>
</template>

<script>
import {
  GlFormInput,
  GlToggle,
  GlFormGroup,
  GlButton,
  GlButtonGroup,
  GlFormTextarea
} from "@gitlab/ui";
import "@gitlab/ui/dist/index.css";

export default {
  components: {
    GlFormInput,
    GlToggle,
    GlFormGroup,
    GlButton,
    GlButtonGroup,
    GlFormTextarea
  },
  props: {
    record: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      name: "",
      description: "",
      title: "",
      completed: 0,
      confidence: 0,
      inReview: false,
      inMaintainer: false
    };
  },
  computed: {
    options() {
      return [];
    }
  },
  mounted() {
    this.name = this.record.name;
    this.description = this.record.description;
    this.title = this.record.title;
    this.completed = this.record.completed || 50;
    this.confidence = this.record.confidence || 50;
    this.inReview = this.record.inReview ? true : false;
    this.inMaintainer = this.record.inMaintainer ? true : false;
  },
  methods: {
    save(merged = false) {
      this.$emit("save", {
        ...this.record,
        name: this.name,
        description: this.description,
        title: this.title,
        completed: this.completed,
        confidence: this.confidence,
        inReview: this.inReview,
        inMaintainer: this.inMaintainer,
        merged
      });
    },
    cancel() {
      this.$emit("close");
    },
    deleteItem() {
      this.$emit("delete", this.record.id);
    }
  }
};
</script>

<style lang="scss">
.mr-record {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 700px;
  height: 400px;

  .inputs {
    display: flex;
    flex-flow: row nowrap;

    .mr-record-col {
      width: 33%;
    }
  }
  .buttons {
    width: 80%;
    margin: 0 auto;
  }
}
</style>
